<h2>Channel</h2>

<div class="input-box">
	User Name: <input ng-model="userName"></input>
	Message: <input ng-model="newMessage"></input>
	<button ng-click="addMessage()">Send</button>
</div>

<div class="msg-list">
	<ul>
	    <li ng-repeat="msg in msgs">{{msg.sender}} {{ msg.text }}</li>
	</ul>
</div>

<div class="row">
	<button>
		<a class="switch" href=http://localhost:8000/#/channel/General"">General</a>
	</button>
	<button>
		<a class="switch" href="http://localhost:8000/#/channel/Random">Random</a>
	</button>
</div>