<div class ="container-fluid">
	<div class="row nav">
		<div class="col-sm-3 col-sm-offset-1">
			<h1 class="logo">Musci</h1>
		</div>
		<div class='col-sm-2 col-sm-offset-6'>
			<row>
				<h4>By Alex Pablo and Vera</h4>
			</row>
			<row>
				<div class=" col-sm-2 col-sm-offset-1">
					<button class="btn btn-danger mt" ng-click="signOut()">
						Sign Out
					</button>
				</div>
			</row>
		</div>
	</div>
	<div class="player row">
		<div class="col-sm-3 col-sm-offset-1">
			<button ng-click="startPlayer()" class="control-btn" ng-if="control">
				<div class="buttons"> <!-- PLay BUTTON -->
					<img class ="button" src="http://image.flaticon.com/icons/svg/149/149125.svg">
				</div>
			</button>
			<button ng-click="pausePlayer()" class="control-btn" ng-if="!control">
				<div class="buttons"><!-- PAUSE BUTTON -->
					<img class ="button" src="http://image.fla
					ticon.com/icons/svg/149/149127.svg">
				</div>
			</button>
		</div>

		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="search col-sm-2 col-md-2 col-lg-2 control-track">
		</div>
	</div>

	<div class="poop row add-song">
		<div class ="col-md-6 col-md-offset-3">
			<h1>ADD SONGS TO PLAYLIST</h1>
			YouTube URL: <input ng-model="newURL">
			Track Name: <input ng-model="newTrackName">
			<button ng-click="refreshDB()">Add</button>
		</div>
	</div>
	<div class="row add-song">
		<div>
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<div class="search control-track">
					<ul>
						<li class="display_songs visiPlay" ng-repeat="p in playMenu" ng-click="assignID(p)">
							<div class="isVisible">
								<div class="row">
									<div class="col-md-1">
										<button ng-click="startPlayer()" class="control-btn" ng-if="control">
											<div class="buttons"> <!-- PLay BUTTON -->
												<img class ="button tiny" src="http://image.flaticon.com/icons/svg/149/149125.svg">
											</div>
										</button>
										<button ng-click="pausePlayer()" class="control-btn" ng-if="!control">
											<div class="buttons"><!-- PAUSE BUTTON -->
												<img class ="button tiny" src="http://image.fla
												ticon.com/icons/svg/149/149127.svg">
											</div>
										</button>
									</div>
									<div class="col-md-5 col-md-offset-3">
										{{p.name}}
										<!-- <button class="remove-btn" ng-click="deleteTrack(p)">Remove</button> -->
									</div>
									<div class="deleteBtn col-md-1 col-md-offset-2">
										<button ng-click="deleteTrack(p)" class="remove-btn">
											<div class="buttons"><!-- PAUSE BUTTON -->
												<img class ="button tiny" src="https://cdn2.iconfinder.com/data/icons/designers-and-developers-icon-set/32/delete_round_button-128.png">
											</div>
										</button>
									</div>
								</div>	
							</div>	
						</li>
					</ul>	
				</div>	
			</div>
		</div>
	</div>
		<youtube-video class="youtube" video-url="anotherGoodOne" player="bestPlayer"></youtube-video>
		<div class="youtube">
			<div class="search col-sm-2 col-md-2 col-lg-2 col-sm-offset-3 control-track">
				<input ng-model="trackid" class="track-input">
						<!-- Split button -->
			</div>
		</div>
</div>
