<div class ="container">
	<div class="row nav">
		<div class="col-sm-3">
			<h1 class="logo">Musci</h1>
		</div>
		<div class='col-sm-2 col-sm-offset-7'>
			<h4>By Alex Pablo and Vera</h4>
		</div>
	</div>
	<div class="player row">
		<div class="col-sm-3">
			<button ng-click="startPlayer()" class="control-btn" ng-if="control">
				<div class="buttons"> <!-- PLay BUTTON -->
					<img class ="button" src="http://image.flaticon.com/icons/svg/149/149125.svg">
				</div>
			</button>
			<button ng-click="pausePlayer()" class="control-btn" ng-if="!control">
				<div class="buttons"><!-- PAUSE BUTTON -->
					<img class ="button" src="http://image.flaticon.com/icons/svg/149/149127.svg">
				</div>
			</button>
		</div>
		<div class="search col-sm-2 col-sm-offset-3">
			<input ng-model="trackid">
					<!-- Split button -->
		</div>
		<div class="search col-sm-2">
			<div class="btn-group">
				<button type="button" class="btn">Select Track</button>
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="p in playMenu" ng-click="assignID(p)">
                			{{p.name}}
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<h1>Add YT songs to playlist</h1>
		Youtube URL: <input ng-model="newURL">
		Track name: <input ng-model="newTrackName">
		<button ng-click="refreshDB()">Add</button>
	</div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
      <button class="btn" ng-click="signOut()">
      	Sign Out
      </button>
    </div>
  </div>
		<youtube-video class="youtube" video-url="anotherGoodOne" player="bestPlayer"></youtube-video>
</div>
