<h1>Playing the music now</h1>

<input ng-model="tackid">
<button ng-click="playTrack()">Search</button>
<!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger">Select Track</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li ng-repeat="p in playMenu" ng-click="assignID(p)">
          {{p.name}}
    </li>
  </ul>
</div>

<div class="row">
  <button ng-click="startPlayer()">Play</button>
  <button ng-click="stopPlayer()">Stop</button>
  <button ng-click="pausePlayer()">Pause</button>
</div>

<youtube-video video-url="anotherGoodOne" player="bestPlayer"></youtube-video>