<center><div class="signup">
    <h2>Sign up</h2>
    <form ng-submit="signUp()">
      <div class="line row">
        <label class="col-md-6">Name</label>
        <input class="col-md-6" ng-model="name">
      </div>
      
      <div class="line row">
        <label class="col-md-6">Email</label>
        <input class="col-md-6" ng-model="email">
      </div>
      
      <div class="line row">
        <label class="col-md-6">Password</label>
        <input class="col-md-6" ng-model="password">
      </div>
      
      <div class="row">
        <button ng-click="createUser()">Sign up</button>
        <button ng-click="show()">Show</button>
      </div>
      
      
    </form>

</div></center>